.button {
    border-radius: 9999px;
    border: none;
    color: rgba(255, 255, 255);
    background-color: rgba(17, 24, 39);
    cursor: pointer;
}

.button:hover {
    background-color: rgba(55, 65, 81);
}

.button:focus-visible {
    outline: 3px solid rgba(209, 213, 219);
}

.button:active {
    background-color: rgba(31, 41, 55);
    outline: 3px solid rgba(209, 213, 219);
}

.small {
    padding: 10px;
}

.medium {
    padding: 16px;
}

.large {
    padding: 22px;
}

.plus::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url('./assets/plus.svg') no-repeat center;
}

.orange {
    background-color: rgba(146, 64, 14);
}

.orange:hover {
    background-color: rgba(180, 83, 9);
}

.orange:focus-visible {
    background-color: rgba(180, 83, 9);
    outline: 3px solid rgba(245, 158, 11);
}

.orange:active {
    background-color: rgba(146, 64, 14);
    outline: 3px solid rgba(245, 158, 11);
}