.cardContainer {
  display: grid;
  gap: 16px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  padding: 0 10px 10px 10px;
}

.cardContainer > a {
  display: block;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 16px;
  border-radius: 10px;
  background-color: rgb(158, 205, 246);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.cardContainer > a:hover {
  background-color: rgb(89, 182, 182);
}

@media screen and (min-width:480px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width:780px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}