.date_field {
  padding: 0.8em 1em;
  font-size: 16px;
  border: 1px solid rgb(209, 213, 219);
  border-radius: var(--border-radius);
  background-color: rgb(243, 244, 246);
  color: rgb(75, 79, 85);
}

.date_field:disabled {
  border-color: rgba(229, 231, 235);
  background-color: rgb(249, 250, 251);
}

@media screen and (max-width: 768px) {
  .date_field {
    padding: 0.6em 0.8em;
    font-size: 14px;
  }
}