.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bolder;
    gap: 1em;
    color: rgba(146, 64, 14);
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    user-select: none;
    transition-duration: .2s;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    opacity: 0.5;
}

.xsmall {
    font-size: 12px;
}

.small {
    font-size: 16px;
}

.isSubmitting {
    color: rgba(156, 163, 175);
    pointer-events: none;
}