.form {
    display: flex;
    padding: 16px;
    gap: 16px;
    position: relative;
    z-index: 2;
    background-color: rgba(245, 245, 245);
}

.area {
    display: flex;
    min-height: 480px;
    aspect-ratio: 3 / 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dashed rgba(229, 231, 235);
    border-radius: var(--border-radius);
    background: no-repeat center rgba(243, 244, 246);
    background-size: contain;
    transition-duration: 0.2s;
}

.dragActive {
    color: rgb(245, 245, 245);
    background-color: rgba(17, 24, 39);
}


@media screen and (max-width: 768px) {
    .form {
        flex-direction: column;
        padding: 8px;
    }

    .area {
        min-height: 240px;
    }
}