.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 1.5rem;
  background-color: rgb(255, 239, 228);
}
.app_title {
  display: flex;
  height: 5rem;
  flex-shrink: 0;
  align-items: end;
  border-radius: 0.5rem;
  background-color: rgba(59, 130, 246);
  padding: 1rem;
}

@media (min-width: 768px) {
  .app_title {
    height: 13rem;
  }
}