.icon::before {
  content: '';
  display: block;
  mask: no-repeat center;
  mask-size: contain;
  -webkit-mask: no-repeat center;
  -webkit-mask-size: contain;
}

.xsmall::before {
  width: 16px;
  height: 16px;
}

.small::before {
  width: 24px;
  height: 24px;
}

.medium::before {
  width: 36px;
  height: 36px;
}

.large::before {
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 768px) {
  .xsmall::before {
    width: 12px;
    height: 12px;
  }

  .small::before {
    width: 18px;
    height: 18px;
  }

  .medium::before {
    width: 24px;
    height: 24px;
  }

  .large::before {
    width: 36px;
    height: 36px;
  }
}

.black::before {
  background-color: rgb(42, 67, 41);
}

.gray::before {
  background-color: rgb(138, 147, 164);
}

.orange::before {
  background-color: rgb(255, 132, 56);
}

.white::before {
  background-color: rgb(255, 255, 255);
}

.account::before {
  mask-image: url('./assets/account.svg');
  -webkit-mask-image: url('./assets/account.svg');
}

.alarm::before {
  mask-image: url('./assets/alarm.svg');
  -webkit-mask-image: url('./assets/alarm.svg');
}

.recipe::before {
  mask-image: url('./assets/recipe.svg');
  -webkit-mask-image: url('./assets/recipe.svg');
}

.camera::before {
  mask-image: url('./assets/camera.svg');
  -webkit-mask-image: url('./assets/camera.svg');
}

.comments::before {
  mask-image: url('./assets/comments.svg');
  -webkit-mask-image: url('./assets/comments.svg');
}

.paper_plane::before {
  mask-image: url('./assets/paper_plane.svg');
  -webkit-mask-image: url('./assets/paper_plane.svg');
}

.gear::before {
  mask-image: url('./assets/gear.svg');
  -webkit-mask-image: url('./assets/gear.svg');
}

.home::before {
  mask-image: url('./assets/home.svg');
  -webkit-mask-image: url('./assets/home.svg');
}

.star::before {
  mask-image: url('./assets/star.svg');
  -webkit-mask-image: url('./assets/star.svg');
}

.star_white::before {
  mask-image: url('./assets/star_white.svg');
  -webkit-mask-image: url('./assets/star_white.svg');
}

.write::before {
  mask-image: url('./assets/write.svg');
  -webkit-mask-image: url('./assets/write.svg');
}
