.meta {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.questionContainer {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.optionContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.option_text {
  flex: 1;
  width: 80vw;
}

.question_text, .title, .description {
  width: 100%;
}

@media (min-width: 640px) {
  .meta {
    gap: 24px;
  }
}

.removeOptionButton, .addOptionButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  transition: color 0.2s;
  border-radius: 20px;
}

.removeOptionButton {
  background-color: rgb(255, 83, 83);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 4px;
  top: 20px;
}

.removeOptionButton:hover {
  background-color: rgb(255, 181, 181);
}

.addOptionButton {
  background-color: rgb(112, 255, 83);
  display: flex;
  align-items: center;
  margin: 10px 5px;
}

.addOptionButton:hover {
  background: rgb(165, 255, 184);
}