.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  border-radius: var(--border-radius);
  overflow: hidden;
  color: black;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row label {
  margin-bottom: 4px;
}

.title {
  width: 380px;
}

.select {
  width: 240px;
}

@media screen and (max-width: 768px) {
  .meta {
    gap: 8px;
  }

  .title {
    width: 100%;
  }

  .select {
    width: 240px;
  }
}