.form {
  display: flex;
  padding: 16px;
  gap: 16px;
  position: relative;
  z-index: 2;
  background-color: rgba(217, 248, 253);
}

@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 10px;
  }
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  width: 380px;
}

@media screen and (max-width: 768px) {
  .meta {
    gap: 8px;
  }

  .title {
    width: 100%;
  }
}

.login {
  margin: 1rem;
}

.login_link {
  font-size: 0.875rem;
  color: rgb(84, 86, 189);
  text-decoration: none;
}

.login_link:hover {
  text-decoration: underline;
}